<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sup.vo.CustomerVO" alias="customerVO" />
		<typeAlias type="com.sup.vo.ProductVO" alias="productVO" />
		<typeAlias type="com.sup.vo.PurchaseVO" alias="purchaseVO" />
	</typeAliases>
</configuration>